*
{
    margin:0px;
}
#header
{
    height:100px;
    background-color:blue;
}

#header ul li
{
    display:inline-block;
    margin-left:30px;
     
}
#header ul li a
{
    color:white;
}
#middle
{
 height:500px;
 background-color:gray;

}


#footer
{
    height:50px;
    background-color:blue;
    color:white;

}